BEGIN;

CREATE TABLE alembic_version (
    version_num VARCHAR(32) NOT NULL, 
    CONSTRAINT alembic_version_pkc PRIMARY KEY (version_num)
);

-- Running upgrade  -> 001

CREATE EXTENSION IF NOT EXISTS vector;;

CREATE TYPE user_role AS ENUM ('user', 'admin');

CREATE TABLE users (
    id BIGSERIAL NOT NULL, 
    email VARCHAR(320) NOT NULL, 
    password_hash VARCHAR(255), 
    role user_role DEFAULT 'user' NOT NULL, 
    is_active BOOLEAN DEFAULT 'true' NOT NULL, 
    is_verified BOOLEAN DEFAULT 'false' NOT NULL, 
    oauth_provider VARCHAR(50), 
    oauth_id VARCHAR(255), 
    last_login TIMESTAMP WITH TIME ZONE, 
    refresh_token VARCHAR(500), 
    reset_token VARCHAR(255), 
    reset_token_expires_at TIMESTAMP WITH TIME ZONE, 
    created_at TIMESTAMP WITH TIME ZONE DEFAULT now() NOT NULL, 
    updated_at TIMESTAMP WITH TIME ZONE, 
    PRIMARY KEY (id), 
    UNIQUE (email)
);

CREATE UNIQUE INDEX ix_users_email ON users (email);

CREATE INDEX ix_users_oauth ON users (oauth_provider, oauth_id);

CREATE INDEX ix_users_reset_token ON users (reset_token);

CREATE TYPE remote_preference AS ENUM ('remote', 'onsite', 'hybrid', 'any');

CREATE TABLE profiles (
    id BIGSERIAL NOT NULL, 
    user_id BIGINT NOT NULL, 
    first_name VARCHAR(100), 
    last_name VARCHAR(100), 
    phone VARCHAR(30), 
    headline VARCHAR(220), 
    summary TEXT, 
    avatar_url VARCHAR(500), 
    resume_url VARCHAR(500), 
    linkedin_url VARCHAR(500), 
    github_url VARCHAR(500), 
    portfolio_url VARCHAR(500), 
    location VARCHAR(200), 
    preferred_locations JSONB, 
    experience_years FLOAT, 
    expected_salary_min INTEGER, 
    expected_salary_max INTEGER, 
    salary_currency VARCHAR(3) DEFAULT 'USD' NOT NULL, 
    job_type_preference JSONB, 
    remote_preference remote_preference, 
    notice_period VARCHAR(50), 
    career_interests JSONB, 
    profile_completion SMALLINT DEFAULT '0' NOT NULL, 
    updated_at TIMESTAMP WITH TIME ZONE, 
    PRIMARY KEY (id), 
    UNIQUE (user_id), 
    FOREIGN KEY(user_id) REFERENCES users (id) ON DELETE CASCADE
);

CREATE INDEX ix_profiles_user_id ON profiles (user_id);

CREATE TYPE employment_type AS ENUM ('full_time', 'part_time', 'contract', 'freelance', 'internship', 'apprenticeship');

CREATE TABLE work_experiences (
    id BIGSERIAL NOT NULL, 
    user_id BIGINT NOT NULL, 
    company_name VARCHAR(200) NOT NULL, 
    job_title VARCHAR(200) NOT NULL, 
    employment_type employment_type, 
    location VARCHAR(200), 
    start_date DATE NOT NULL, 
    end_date DATE, 
    is_current BOOLEAN DEFAULT 'false' NOT NULL, 
    description TEXT, 
    skills_used JSONB, 
    created_at TIMESTAMP WITH TIME ZONE DEFAULT now() NOT NULL, 
    updated_at TIMESTAMP WITH TIME ZONE, 
    PRIMARY KEY (id), 
    FOREIGN KEY(user_id) REFERENCES users (id) ON DELETE CASCADE
);

CREATE INDEX ix_work_experiences_user_id ON work_experiences (user_id);

CREATE TABLE educations (
    id BIGSERIAL NOT NULL, 
    user_id BIGINT NOT NULL, 
    institution VARCHAR(300) NOT NULL, 
    degree VARCHAR(200), 
    field_of_study VARCHAR(200), 
    start_date DATE, 
    end_date DATE, 
    grade VARCHAR(50), 
    activities TEXT, 
    created_at TIMESTAMP WITH TIME ZONE DEFAULT now() NOT NULL, 
    updated_at TIMESTAMP WITH TIME ZONE, 
    PRIMARY KEY (id), 
    FOREIGN KEY(user_id) REFERENCES users (id) ON DELETE CASCADE
);

CREATE INDEX ix_educations_user_id ON educations (user_id);

CREATE TABLE certifications (
    id BIGSERIAL NOT NULL, 
    user_id BIGINT NOT NULL, 
    name VARCHAR(300) NOT NULL, 
    issuing_organization VARCHAR(300) NOT NULL, 
    issue_date DATE, 
    expiry_date DATE, 
    credential_id VARCHAR(200), 
    credential_url VARCHAR(500), 
    created_at TIMESTAMP WITH TIME ZONE DEFAULT now() NOT NULL, 
    updated_at TIMESTAMP WITH TIME ZONE, 
    PRIMARY KEY (id), 
    FOREIGN KEY(user_id) REFERENCES users (id) ON DELETE CASCADE
);

CREATE INDEX ix_certifications_user_id ON certifications (user_id);

CREATE TABLE skills (
    id SERIAL NOT NULL, 
    name VARCHAR(100) NOT NULL, 
    category VARCHAR(100), 
    aliases JSONB, 
    is_trending BOOLEAN DEFAULT 'false' NOT NULL, 
    demand_score FLOAT, 
    created_at TIMESTAMP WITH TIME ZONE DEFAULT now() NOT NULL, 
    updated_at TIMESTAMP WITH TIME ZONE, 
    PRIMARY KEY (id), 
    UNIQUE (name)
);

CREATE UNIQUE INDEX ix_skills_name ON skills (name);

CREATE TYPE skill_proficiency AS ENUM ('beginner', 'intermediate', 'advanced', 'expert');

CREATE TABLE user_skills (
    user_id BIGINT NOT NULL, 
    skill_id INTEGER NOT NULL, 
    proficiency skill_proficiency DEFAULT 'intermediate' NOT NULL, 
    years_of_exp FLOAT, 
    is_primary BOOLEAN DEFAULT 'false' NOT NULL, 
    added_at TIMESTAMP WITH TIME ZONE DEFAULT now() NOT NULL, 
    PRIMARY KEY (user_id, skill_id), 
    FOREIGN KEY(user_id) REFERENCES users (id) ON DELETE CASCADE, 
    FOREIGN KEY(skill_id) REFERENCES skills (id) ON DELETE CASCADE
);

CREATE TABLE raw_jobs (
    id BIGSERIAL NOT NULL, 
    raw_json_data JSONB NOT NULL, 
    source VARCHAR(100) NOT NULL, 
    source_id VARCHAR(255), 
    is_processed BOOLEAN DEFAULT 'false' NOT NULL, 
    ingested_at TIMESTAMP WITH TIME ZONE DEFAULT now() NOT NULL, 
    PRIMARY KEY (id), 
    CONSTRAINT uq_raw_jobs_source_id UNIQUE (source, source_id)
);

CREATE INDEX ix_raw_jobs_source ON raw_jobs (source);

CREATE INDEX ix_raw_jobs_unprocessed ON raw_jobs (is_processed, ingested_at);

CREATE TABLE companies (
    id SERIAL NOT NULL, 
    name VARCHAR(300) NOT NULL, 
    logo_url VARCHAR(500), 
    website VARCHAR(500), 
    linkedin_url VARCHAR(500), 
    industry VARCHAR(150), 
    company_size VARCHAR(50), 
    founded_year SMALLINT, 
    headquarters VARCHAR(200), 
    description TEXT, 
    culture_rating FLOAT, 
    work_life_balance FLOAT, 
    career_growth FLOAT, 
    compensation FLOAT, 
    is_verified BOOLEAN DEFAULT 'false' NOT NULL, 
    job_count INTEGER DEFAULT '0' NOT NULL, 
    created_at TIMESTAMP WITH TIME ZONE DEFAULT now() NOT NULL, 
    updated_at TIMESTAMP WITH TIME ZONE, 
    PRIMARY KEY (id), 
    UNIQUE (name)
);

CREATE INDEX ix_companies_name ON companies (name);

CREATE INDEX ix_companies_industry ON companies (industry);

CREATE TABLE job_cache (
    id BIGSERIAL NOT NULL, 
    external_id VARCHAR(255), 
    source VARCHAR(100) NOT NULL, 
    title VARCHAR(300) NOT NULL, 
    company VARCHAR(300) NOT NULL, 
    company_logo VARCHAR(500), 
    company_id INTEGER, 
    location VARCHAR(300), 
    is_remote BOOLEAN DEFAULT 'false' NOT NULL, 
    salary_min INTEGER, 
    salary_max INTEGER, 
    salary_currency VARCHAR(3) DEFAULT 'USD' NOT NULL, 
    is_salary_estimated BOOLEAN DEFAULT 'false' NOT NULL, 
    job_type VARCHAR(50), 
    experience_level VARCHAR(50), 
    description TEXT, 
    requirements JSONB, 
    skills_required JSONB, 
    is_description_generated BOOLEAN DEFAULT 'false' NOT NULL, 
    apply_url VARCHAR(1000), 
    posted_at TIMESTAMP WITH TIME ZONE, 
    expires_at TIMESTAMP WITH TIME ZONE, 
    is_active BOOLEAN DEFAULT 'true' NOT NULL, 
    created_at TIMESTAMP WITH TIME ZONE DEFAULT now() NOT NULL, 
    updated_at TIMESTAMP WITH TIME ZONE, 
    PRIMARY KEY (id), 
    CONSTRAINT uq_job_cache_source_external UNIQUE (source, external_id), 
    FOREIGN KEY(company_id) REFERENCES companies (id) ON DELETE SET NULL
);

CREATE INDEX ix_job_cache_title ON job_cache (title);

CREATE INDEX ix_job_cache_company ON job_cache (company);

CREATE INDEX ix_job_cache_location ON job_cache (location);

CREATE INDEX ix_job_cache_source ON job_cache (source);

CREATE INDEX ix_job_cache_active_posted ON job_cache (is_active, posted_at);

CREATE INDEX ix_job_cache_skills_gin ON job_cache USING gin (skills_required);

CREATE TABLE saved_jobs (
    id BIGSERIAL NOT NULL, 
    user_id BIGINT NOT NULL, 
    job_id BIGINT, 
    external_job_id VARCHAR(255), 
    job_data JSONB, 
    notes TEXT, 
    tags JSONB, 
    created_at TIMESTAMP WITH TIME ZONE DEFAULT now() NOT NULL, 
    updated_at TIMESTAMP WITH TIME ZONE, 
    PRIMARY KEY (id), 
    CONSTRAINT uq_saved_jobs_user_job UNIQUE (user_id, job_id), 
    FOREIGN KEY(user_id) REFERENCES users (id) ON DELETE CASCADE, 
    FOREIGN KEY(job_id) REFERENCES job_cache (id) ON DELETE SET NULL
);

CREATE INDEX ix_saved_jobs_user_id ON saved_jobs (user_id);

CREATE INDEX ix_saved_jobs_job_id ON saved_jobs (job_id);

CREATE TYPE application_status AS ENUM ('applied', 'viewed', 'screening', 'interviewing', 'offered', 'rejected', 'accepted', 'withdrawn');

CREATE TABLE job_applications (
    id BIGSERIAL NOT NULL, 
    user_id BIGINT NOT NULL, 
    job_id BIGINT, 
    external_job_id VARCHAR(255), 
    job_data JSONB, 
    status application_status DEFAULT 'applied' NOT NULL, 
    applied_at TIMESTAMP WITH TIME ZONE DEFAULT now() NOT NULL, 
    status_updated_at TIMESTAMP WITH TIME ZONE, 
    resume_used VARCHAR(500), 
    cover_letter TEXT, 
    notes TEXT, 
    follow_up_date DATE, 
    interview_dates JSONB, 
    feedback TEXT, 
    salary_offered INTEGER, 
    created_at TIMESTAMP WITH TIME ZONE DEFAULT now() NOT NULL, 
    updated_at TIMESTAMP WITH TIME ZONE, 
    PRIMARY KEY (id), 
    CONSTRAINT uq_applications_user_job UNIQUE (user_id, job_id), 
    FOREIGN KEY(user_id) REFERENCES users (id) ON DELETE CASCADE, 
    FOREIGN KEY(job_id) REFERENCES job_cache (id) ON DELETE SET NULL
);

CREATE INDEX ix_applications_user_id ON job_applications (user_id);

CREATE INDEX ix_applications_job_id ON job_applications (job_id);

CREATE INDEX ix_applications_user_status ON job_applications (user_id, status);

CREATE INDEX ix_applications_follow_up ON job_applications (follow_up_date, status);

CREATE TYPE message_type AS ENUM ('user', 'assistant', 'system');

CREATE TABLE chat_histories (
    id BIGSERIAL NOT NULL, 
    user_id BIGINT NOT NULL, 
    session_id UUID NOT NULL, 
    message_type message_type NOT NULL, 
    content TEXT NOT NULL, 
    metadata JSONB, 
    tokens_used INTEGER, 
    created_at TIMESTAMP WITH TIME ZONE DEFAULT now() NOT NULL, 
    updated_at TIMESTAMP WITH TIME ZONE, 
    PRIMARY KEY (id), 
    FOREIGN KEY(user_id) REFERENCES users (id) ON DELETE CASCADE
);

CREATE INDEX ix_chat_session ON chat_histories (user_id, session_id);

CREATE TABLE user_activities (
    id BIGSERIAL NOT NULL, 
    user_id BIGINT NOT NULL, 
    action_type VARCHAR(100) NOT NULL, 
    entity_type VARCHAR(50), 
    entity_id VARCHAR(255), 
    details JSONB, 
    ip_address VARCHAR(45), 
    user_agent VARCHAR(500), 
    created_at TIMESTAMP WITH TIME ZONE DEFAULT now() NOT NULL, 
    PRIMARY KEY (id), 
    FOREIGN KEY(user_id) REFERENCES users (id) ON DELETE CASCADE
);

CREATE INDEX ix_activities_user_id ON user_activities (user_id);

CREATE INDEX ix_activities_action_type ON user_activities (action_type);

CREATE INDEX ix_activities_created_at ON user_activities (created_at);

CREATE TYPE alert_frequency AS ENUM ('instant', 'daily', 'weekly');

CREATE TABLE job_alerts (
    id BIGSERIAL NOT NULL, 
    user_id BIGINT NOT NULL, 
    alert_name VARCHAR(200) NOT NULL, 
    keywords JSONB, 
    location VARCHAR(200), 
    job_type JSONB, 
    experience_level VARCHAR(50), 
    salary_min INTEGER, 
    salary_max INTEGER, 
    frequency alert_frequency DEFAULT 'daily' NOT NULL, 
    is_active BOOLEAN DEFAULT 'true' NOT NULL, 
    last_sent TIMESTAMP WITH TIME ZONE, 
    created_at TIMESTAMP WITH TIME ZONE DEFAULT now() NOT NULL, 
    updated_at TIMESTAMP WITH TIME ZONE, 
    PRIMARY KEY (id), 
    FOREIGN KEY(user_id) REFERENCES users (id) ON DELETE CASCADE
);

CREATE INDEX ix_job_alerts_user_id ON job_alerts (user_id);

CREATE TABLE notifications (
    id BIGSERIAL NOT NULL, 
    user_id BIGINT NOT NULL, 
    type VARCHAR(100) NOT NULL, 
    title VARCHAR(300) NOT NULL, 
    message TEXT NOT NULL, 
    link VARCHAR(500), 
    is_read BOOLEAN DEFAULT 'false' NOT NULL, 
    created_at TIMESTAMP WITH TIME ZONE DEFAULT now() NOT NULL, 
    updated_at TIMESTAMP WITH TIME ZONE, 
    PRIMARY KEY (id), 
    FOREIGN KEY(user_id) REFERENCES users (id) ON DELETE CASCADE
);

CREATE INDEX ix_notifications_user_id ON notifications (user_id);

CREATE INDEX ix_notifications_unread ON notifications (user_id, is_read);

CREATE TABLE market_insight_cache (
    id SERIAL NOT NULL, 
    insight_type VARCHAR(100) NOT NULL, 
    parameters JSONB NOT NULL, 
    data JSONB NOT NULL, 
    generated_at TIMESTAMP WITH TIME ZONE DEFAULT now() NOT NULL, 
    expires_at TIMESTAMP WITH TIME ZONE NOT NULL, 
    PRIMARY KEY (id)
);

CREATE INDEX ix_insight_type_expires ON market_insight_cache (insight_type, expires_at);

INSERT INTO alembic_version (version_num) VALUES ('001') RETURNING alembic_version.version_num;

-- Running upgrade 001 -> 002

CREATE OR REPLACE VIEW user_complete_profile AS
SELECT
    u.id                        AS user_id,
    u.email,
    u.role,
    u.is_active,
    u.is_verified,
    u.last_login,
    u.created_at                AS member_since,

    -- Profile fields (NULL-safe via LEFT JOIN)
    p.first_name,
    p.last_name,
    p.phone,
    p.headline,
    p.summary,
    p.avatar_url,
    p.resume_url,
    p.linkedin_url,
    p.github_url,
    p.portfolio_url,
    p.location,
    p.preferred_locations,
    p.experience_years,
    p.expected_salary_min,
    p.expected_salary_max,
    p.salary_currency,
    p.job_type_preference,
    p.remote_preference,
    p.notice_period,
    p.career_interests,
    p.profile_completion,

    -- Aggregated skills as a JSON array of objects
    COALESCE(
        (
            SELECT json_agg(
                json_build_object(
                    'skill_id',    s.id,
                    'name',        s.name,
                    'category',    s.category,
                    'proficiency', us.proficiency,
                    'years',       us.years_of_exp,
                    'is_primary',  us.is_primary
                )
                ORDER BY us.is_primary DESC, s.name
            )
            FROM user_skills  us
            JOIN skills       s  ON s.id = us.skill_id
            WHERE us.user_id = u.id
        ),
        '[]'::json
    )                           AS skills

FROM users    u
LEFT JOIN profiles p ON p.user_id = u.id;;

CREATE OR REPLACE VIEW user_application_stats AS
SELECT
    user_id,
    COUNT(*)                                                    AS total_applications,
    COUNT(*) FILTER (WHERE status = 'applied')                  AS applied_count,
    COUNT(*) FILTER (WHERE status = 'viewed')                   AS viewed_count,
    COUNT(*) FILTER (WHERE status = 'screening')                AS screening_count,
    COUNT(*) FILTER (WHERE status = 'interviewing')             AS interviewing_count,
    COUNT(*) FILTER (WHERE status = 'offered')                  AS offered_count,
    COUNT(*) FILTER (WHERE status = 'rejected')                 AS rejected_count,
    COUNT(*) FILTER (WHERE status = 'accepted')                 AS accepted_count,
    COUNT(*) FILTER (WHERE status = 'withdrawn')                AS withdrawn_count,
    MAX(applied_at)                                             AS last_applied_at,
    -- Response rate: any status beyond 'applied' or 'viewed'
    ROUND(
        100.0 * COUNT(*) FILTER (
            WHERE status NOT IN ('applied', 'viewed', 'withdrawn')
        ) / NULLIF(COUNT(*), 0),
        2
    )                                                           AS response_rate_pct
FROM job_applications
GROUP BY user_id;;

UPDATE alembic_version SET version_num='002' WHERE alembic_version.version_num = '001';

COMMIT;

